h6 {
    margin: 0px;
    font-size: 13px;
    padding-top: 10px;
    color: #3a8bbb;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -3px;
}

.name {
    text-align: left;
    margin-left: 25px;
}

.avy {
    border-radius: 100px;
    height: 15px;
    width: 15px;
    background-color: #3e3e3e; 
    display: inline-block;
}