.dribbble {
    width: 100%;
    height: 56px;
    background: #333;
    background: rgba(47,47,47,0.98);
    z-index: 9996;
    display: flex;

}

header img {
    height: 18px;
    position: relative;
    top: 19px;
    left: 31px;
}